body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
  }
  h1 {
    text-align: center;
    color: #fff;
    margin: 0;
  }
  img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    
  }
  .zoom img{
    display:block;
    transition: all .3s ease;
  }
  .zoom img:hover{
    transform: scale(1.05); /* cỡ zoom khi di chuột vào */
  } 
  .zoom div{
    display:block;
    overflow: hidden;
  }
  .header {
      background-color: #0e1822b7;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  .review {
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
  }
  .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 30px;

    }
  .menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    
  }

  .menu a:hover {
    background-color: crimson;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0px;
  }
  #text{
    color: #b13530;
    line-height: 50px;
    text-decoration: none;
    ;
 }
 .text{
  line-height: 30px;
  font-size: 20px;

 }
 .nutbam {
  text-decoration: none;
  border-style: solid;
  color: white;
  border-radius: 6px;
  border-style: solid;
  border-color: gold;
  padding: 8px;
  background-color: rgb(12, 211, 12);          
}
.nutbam:hover {
  background-color: green;
}
.nutbam:visited {
  background-color: red;
}